[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sheehan306
[access "refs/for/refs/*"]
	read = group user/sheehan306
	push = group user/sheehan306
	label-Code-Review = -2..+2 group user/sheehan306
	label-Verified = -1..+1 group user/sheehan306
	rebase = group user/sheehan306
	removeReviewer = group user/sheehan306
	submit = group user/sheehan306
[access "refs/heads/*"]
	read = group user/sheehan306
	create = group user/sheehan306
	push = +force group user/sheehan306
	pushMerge = group user/sheehan306
[access "refs/tags/*"]
	push = group user/sheehan306
	push = +force group user/sheehan306
